input {
  width: 600px;
  font-family: inherit;
  margin: 10px;
  background-color: #f1e6bb;
  border: none;
  padding: 8px;
  border-radius: 5px;
}
input[type="submit"] {
  margin: 0 auto;
  display: inline-block;
  width: fit-content;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  color: aliceblue;
  background-color: #d6a844;
  cursor: pointer;
}
input[type="submit"]:active {
  transform: scale(0.9);
  box-shadow: 0 3px 15px -2px;
}
textarea {
  height: 200px;
  width: 600px;
  margin: 10px;
  background-color: #f1e6bb;
  border: none;
  padding: 8px;
  border-radius: 5px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  color: goldenrod;
}
.send-button {
  text-align: center;
}

div[role="alert"] {
  color: red;
  margin-top: 1em;
}
.message-chars-left {
  padding-right: 8px;
  margin: auto;
  text-align: right;
  font-size: 10px;
  color: gray;
}

.status-message {
  opacity: 0;
}
.success {
  opacity: 1;
  color: green;
}
.failure {
  opacity: 1;
  color: red;
}
