.navBar {
  position: relative;
  display: none;
}

.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
  background: inherit;
  border: none;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: rgb(0 0 0 / 81%);
  left: 0;
  bottom: 0;
  height: fit-content;
  width: 0;
  overflow: hidden;
  max-width: fit-content;
  z-index: 9;
}
.navBar svg {
  filter: drop-shadow(3px 5px 2px rgb(0, 0, 0));
}
.menuNav.showMenu {
  width: 100%;
}
.barNav {
  display: flex;
}

li a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: goldenrod;
  text-transform: uppercase;
  font-weight: bold;
}
li a:hover {
  background-color: rgba(76, 36, 7, 0.457);
  border-radius: 20px;
  font-size: larger;
  padding: 7px 25px;
}

.menuNav li:first-child {
  margin-top: 7rem;
}
.horizontal-bar {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 50px;
  position: fixed;
  width: 100%;
  background-color: rgb(0 0 0 / 81%);
  z-index: 10;
}

@media (max-width: 676px) {
  .navBar {
    display: block;
  }
  .horizontal-bar {
    display: none;
  }
}
