.container-stack {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  width: 100%;
  height: fit-content;
}
.stack {
  color: goldenrod;
  padding: 20px;
  text-align: center;
}
.tech {
  cursor: default;
  padding: 8px 15px;
  text-align: center;
  color: black;
  background-color: #d6a844;
  border-radius: 10px;
  margin: 10px;
  background-image: linear-gradient(
    -60deg,
    transparent,
    transparent 40%,
    #ffffff44 40%,
    #ffffff44 60%,
    transparent 60%,
    transparent 100%
  );
  background-size: 250% 100%;
  background-repeat: no-repeat;
  background-position-x: 150%;
}
.tech:hover {
  background-position-x: -150%;
  transition: background-position-x 1000ms;
}
.title-stack {
  padding: 30px 0 5px 0;
}
