.scrollToTop {
  position: fixed;
  padding: 10px 10px;
  bottom: 40px;
  right: 40px;
  background-color: #d6a84496;
  border: none;
  border-radius: 50%;
  color: black;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  z-index: 10;
  cursor: pointer;
  font-size: 50px;
}
.scrollToTop:active {
  background-color: #e09b07c8;
  transform: scale(0.9);
  box-shadow: 0 3px 15px -2px;
  font-size: 45px;
}
