@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
  background-color: #0b0b0b;
  font-size: 16px;
  font-family: JetBrains Mono, monospace;
  color: #e4bb68;

}
